# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/scott/poky-dylan/meta \
  /home/scott/poky-dylan/meta-yocto \
  /home/scott/poky-dylan/meta-gumstix \
  /home/scott/poky-dylan/meta-beagleboard/common-bsp \
  /home/scott/jumpnow-dylan/meta-jumpnow \
  "

BBLAYERS_NON_REMOVABLE ?= " \
  /home/scott/poky-dylan/meta \
  /home/scott/poky-dylan/meta-yocto \
  "

